@import 'variables';

.imgdesk{
  display: none;
}

/* @media screen and (min-width: 47rem) {
  .imgmob{
    display: none;
  }
} */

.mob1,
.mob2,
.mob3{
  position: relative;
  height: 375px;
  width: 360px;
}

.mob1{
  background: url(../ASSETS/Images/mobile-image-hero-1.jpg) no-repeat center center;
  background-size: cover;
}

.mob2{
  background: url(../ASSETS/Images/mobile-image-hero-2.jpg) no-repeat center center;
   background-size: cover;
}

.mob3{
  background: url(../ASSETS/Images/mobile-image-hero-3.jpg) no-repeat center center;
   background-size: cover;
}

@media screen and (min-width: 48rem) {
  .mob1,
.mob2,
.mob3{
  position: relative;
  height: 534px;
  width: 840px;
}
  .mob1{
    background: url(../ASSETS/Images/desktop-image-hero-1.jpg) no-repeat center center;
    
  }

  .mob2{
    background: url(../ASSETS/Images/desktop-image-hero-2.jpg) no-repeat center center;
    
  }

  .mob3{
    background: url(../ASSETS/Images/desktop-image-hero-3.jpg) no-repeat center center;
    
  }
}

@media screen and (min-width: 53.125rem) {
  .mob1,
  .mob2,
  .mob3{
    background-size: 100%;
  }
}

main{
  position: relative;
    header,
    .nav-box{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      padding-block-start: 3.125em;
      padding-inline-start: 1.5rem;
      gap: 7.0625em;
      @include flex;
      justify-content: start;

        .nav-box{
          background-color: $white;
          inset: 0;
          gap: 4rem;
          padding-block-end: 2.875rem;
          transition: transform 0.3s linear;
          transform: translateY(-100%);
            .nav ul{
              @include flex;
              gap: 1.8rem;
            }
        }

        .open-nav{
          transform: translateY(0%);
        }
    }

    .box-logo{
      @include flex;
      justify-content: space-between;
      width: 55%;
      margin-inline-end: 9.75rem;
      align-self: start;
    }

    .glide__arrows{
      position: absolute;
      bottom: 0;
      right: 0;
        .glide__arrow:focus-visible{
          border: 1px solid $white;
        }
    }
    .box{
      @include flex-col;
      align-items: start;
      /* justify-content: start; */
      padding-inline: 2rem;
      padding-block: 3.75rem 4.5rem;
        p{
          margin-block: 1rem 2.5rem;
        }
    }
}

.about-content{
  @include flex-col;
  gap: 1rem;
  align-items: start;
  padding-inline: 2rem;
  padding-block: 3.125em 2.5rem;
}

@media screen and (min-width: 48rem) {

  .imgdesk{
    display: block;
  }
  
  .hamb-icon{
    display: none;
  }

  main{
    header,
      .nav-box{
        padding-block-start: 4rem;
        padding-inline-start: 4rem;
        gap: 3.5rem;
        justify-content: start;
  
          .nav-box{
            background-color: transparent;
            gap: 0;
            padding-block-end: 0;
            transform: none;
            justify-content: start;
            position: initial;
            padding: 0;
            color: $white;
            height: fit-content;
              & ul li{
                position: relative;
              }
          }
      }

      .box-logo{
        width: fit-content;
        margin-inline-end: 0;
        align-self: center;
        cursor: pointer;
      }

      .box{
        padding-inline: 6.5rem;
        margin-block-end: 4rem;
      }
  }

  
}

@media screen and (min-width: 47rem) and (max-width: 74rem) {
  .glide__arrows{
    .glide__arrow{
      width: 4.375em;
      height: 4.375em;
    }
  }

  .about-section{
    @include flex-col;
    gap: 7rem;
      & img{
        transform: scale(1.4);
        /* width: 36.75rem; */
      }
      .about-content{
        padding-inline: calc(6rem + 6vw);
        align-items: center;
        text-align: center;
      }
  }
}


@media screen and (min-width: 75rem) {
  main{
      header,
      .nav-box{
          .nav-box{
              & ul li{
                transition: all 0.2s linear;

                  &::after{
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                    height: 3px;
                    width: 0;
                    margin-inline: auto;
                    background-color: $white;
                    transition: all 0.2s ease;
                    cursor: pointer;
                  }

                  & ul li:hover,
                  &:hover::after{
                    width: 1rem;
                  }
              }
          }
      }
      
      .product-box{
        @include flex;
        align-items: start;
          .glide{
            width: 52.5rem;
              .glide__slide{
                display: block;
                justify-content: stretch;
                align-items: center;
                margin: 0;
                padding: 0;
              }

              .glide__arrows{
                position: absolute;
                bottom: 0;
                right: -10rem;
                  .glide__arrow{
                    width: 5rem;
                    height: 5rem;
                    transition: background-color 0.3s linear;
                      &:hover{
                        background-color: $dark-gray;
                      }
                      & img{
                        transform: scale(1)
                      }
                  }
              }
          }

          .article-box{
            align-self: center;
              .box{
                padding-block: 7.5em;
                padding-inline: 6.25rem;
                margin-block-end: 0;
                  p{
                    margin-block: 1rem 1.625rem;
                  }
                }
          }
      }

  }

  .about-section{
    @include flex;
    align-items: stretch;
      .about-content{
        padding-inline: 3.2rem;
      }
  }
}